<div sb-component="{{file_name}}">
  <p>Section {{template_name}} works!</p>
</div>

{% schema %}
{
  "name": "{{template_name}}",
  "settings": [],
  "presets": [
    {
      "name": "{{template_name}}"
    }
  ]
}
{% endschema %}
